**/.vscode/art_build_settings.json
**/.vscode/art_diagram_settings.json
**/.vscode/settings.json
**/.vscode/launch.json
**/.vscode/c_cpp_properties.json
**/compile_commands.json
**/logs/
**/log*.txt
**/node_modules/
**/package-lock.json
**/.project
**/*_target/
RIC-*
art-comp-test/artIntegrationTests
