art-samples/**/*_target/*.cpp
art-samples/**/*_target/*.h
art-samples/**/*_target/**/*.json
art-samples/**/*_target/default/*
art-samples/**/art_build_settings.json
art-samples/**/art_diagram_settings.json
art-comp-test/tests/*/.vscode/*.json
art-comp-test/tests/**/*_target/*
art-comp-test/**/.vscode/art_build_settings.json
art-comp-test/testLib_target/*
art-comp-test/tests/*/logs/application.log
art-samples/TcpRangeCounter/*/node_modules