#Project Information
site_name: DevOps Code RealTime
site_description: >-
  Code RealTime is an extension for Visual Studio Code and Eclipse Theia for creating stateful realtime C++ applications consisting of communicating state machines.
site_url: https://secure-dev-ops.github.io/code-realtime/

#Md and HTML locations in the repository 
site_dir: docs
docs_dir: docs-sources

# Theme Configuration
theme:
  name: material
  logo: assets/logo.png
  favicon: assets/favicon.png
  language: en
  features:
    - navigation.tabs
    - navigation.indexes
    - navigation.top
    - navigation.instant
    - search.highlight
    - search.share
    - search.suggest
    - announce.dismiss
  custom_dir: theme_overrides/
  icon:
    repo: fontawesome/brands/github
  font:
    text: Roboto
    code: Roboto Mono

  # Static files
  static_templates:
    - 404.html


# Markdown Extensions
markdown_extensions:
  - admonition
  - pymdownx.details
#  - pymdownx.superfences
  - pymdownx.keys
  - attr_list

extra:
#  analytics: 
#    provider: custom
#    property: UA-169645537-2
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/secure-dev-ops/code-realtime
  version:
    provider: mike


copyright: >-
  <p> Copyright &copy; 2022, 2024 HCL Technologies Ltd. IBM Corporation. All Rights Reserved.</p>

# Repository
repo_url: https://github.com/secure-dev-ops/code-realtime
repo_name: secure-dev-ops/code-realtime
edit_uri: edit/main/docs-sources


# Customization
extra_css:
  - stylesheets/style.css
  - stylesheets/prism.css

extra_javascript:
  - scripts/prism.js

plugins:
  - search  
  - markdownextradata:
      data: variables
      jinja_options:
          variable_start_string: '{$'
          variable_end_string: '$}'

extra:
  product:
    name: Code RealTime
  rtist:
    name: Model RealTime

 #Table of contents 
nav:
  - Home: index.md
  - Documentation:   
     - Overview: overview.md
     - Installing: installing.md
     - The Art Language: 
        - The Art Language: art-lang/index.md
        - C++ Extensions: art-lang/cpp-extensions.md
     - Working with Art: 
        - Working with Art: working-with-art/index.md
        - Text Editor: working-with-art/art-editor.md
        - Diagrams: working-with-art/diagrams.md
        - Outline View: working-with-art/outline-view.md
        - References View: working-with-art/references.md
     - Validation: validation.md
     - Target RunTime System: 
        - Target RunTime System: target-rts/index.md        
        - Timers: target-rts/timers.md
        - Threads: target-rts/threads.md
        - Integration with External Code: target-rts/integrate-with-external-code.md
        - Capsule Factory: target-rts/capsule-factory.md
        - Dependency Injection: target-rts/dependency-injection.md
        - Encoding and Decoding: target-rts/encoding-decoding.md
        - Building, Debugging and Customizing: target-rts/build.md
        - Versions: target-rts/versions.md
        - C++ API: targetrts-api/index.html
     - Building: 
        - Building: building/index.md        
        - Transformation Configurations: building/transformation-configurations.md
        - Launch Configurations: building/launch-configurations.md
        - Art Compiler: building/art-compiler.md   
        - Build Variants: building/build-variants.md  
     - Releases: 
        - Releases: releases/index.md  
     - Settings: settings.md
     - Support Procedures: support.md
  - Samples: https://github.com/secure-dev-ops/code-realtime/tree/main/art-samples   
  - Forum: https://github.com/secure-dev-ops/code-realtime/discussions
  - Videos: https://www.youtube.com/playlist?list=PLErYHbqUeWuB4lExh9K64uS1wxgvv9dmh
