<!-- Custom HTML site displayed as the Home chapter -->

{% extends "main.html" %}

{% block tabs %}
{{ super() }}
<link rel="stylesheet" href="stylesheets/homepage-styles.css">

<!-- Hero Banner-->
<section class="dx-hero-container">
    <div class="md-grid md-typeset">
        <div class="section-flexbox-row flex-start align-center">            
            <div class="dx-hero__content">
                <div class="hero-heading">
                    <!-- <h3>No heading</h3> -->                    
                </div>
                <div class="hero-body body-text white">
                    <p>Code RealTime is a tool for creating stateful, event-driven realtime applications in C++. You can
                        <ul>
                            <li>create your application using the Art language which provides high-level concepts such as state machines, capsules, events, ports, etc.</li>
                            <li>use graphical diagrams for viewing and designing state machines, composite structures and class hierarchies</li>
                            <li>detect errors early by means of customizable semantic validation rules that run automatically as you type</li>
                            <li>automatically generate optimized and highly performant C++ code that can be built into an application by any C++ compiler</li>
                            <li>run Code RealTime within <a href="https://code.visualstudio.com/">Visual Studio Code</a> or <a href="https://theia-ide.org/">Eclipse Theia</a>, either as a desktop or web application</li>
                        </ul> 
                    </p>
                    <p>
                        Download the free Community Edition for <a href="https://marketplace.visualstudio.com/items?itemName=HCLTechnologies.hcl-rtistic-ce" class="download-button">VS Code</a> or <a href="https://open-vsx.org/extension/HCLTechnologies/hcl-rtistic-ce" class="download-button">Theia</a>! 
                    </p>
                </div>
				 
                <div class="dx-hero__image">
                    <iframe width="560" align="right" height="315" src="https://hclsw.co/rtistic-cover-video-emb" data-ot-ignore
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- designed for your Banner-->
<section class="section-designedforyou">
    <div class="md-grid md-typeset">
        <div class="section-flexbox-row space-around align-center">
            <div class="dx-dfu__image">            
                <img src="assets/screenshot1.png" alt="Code RealTime screen shot" />
            </div>
            <div class="dx-dfu__content">
                <div class="section-heading">
				<!-- Add a line for your product -->
                    <p class="black">
                        Build realtime applications with enhanced abstraction, automation, and analysis beyond basic C++
                    </p>
                </div>
				<!--Add more description here -->
                <div class="dfu-body body-text black">
                    <p>Suitable for embedded, IoT and much more...</p>                
                </div>

            </div>
        </div>
    </div>
</section>

<!--Use this section to call out top 3 highlights of your product or any other top 3 items you want to share with the users. -->
<section class="section-personas">
    <div class="md-grid md-typeset">
        <div class="section-flexbox-row space-around align-top">
            <!-- <div class="section-heading">
                <p class="black">Reimagined user experience</p>
            </div> -->
            <div class="flex-break"></div><!--force new row-->
            <div class="persona-item">
                <div class="feature-1">
                    <!-- persona image -->
                </div>
                <div class="persona-name black">
                    <h2>
                        Art Language
                    </h2>
                </div>
                <div class="persona-body body-text black">
                    <p>
                        A new language providing powerful features such as state machines, ports and events on top of modern C++.
					</p>					
                </div>
                <div class="persona-button">
                    <p><a href="art-lang/" class="md-button">
                            Read More
                        </a>
                    </p>
                </div>
            </div>

            <div class="persona-item">
                <div class="feature-2">
                    <!-- persona image -->
                </div>
                <div class="persona-name black">
                    <h2>
                        Graphical Diagrams
                    </h2>
                </div>
                <div class="persona-body body-text black">
                    <p>
                        Visualize your application in graphical class, state and structure diagrams that update automatically as you type.
                    </p>
                </div>
                <div class="persona-button">
                    <p><a href="working-with-art/diagrams/" class="md-button">
                            Read More
                        </a>
                    </p>
                </div>
            </div>

            <div class="persona-item">
                <div class="feature-3">
                    <!-- persona image -->
                </div>
                <div class="persona-name black">
                    <h2>
                        C++ Code Generation
                    </h2>
                </div>
                <div class="persona-body body-text black">
                    <p>
                        Generate modern, readable and highly efficient C++ code and compile it with your choice of C++ compiler for any target.
                    </p>
                </div>
                <div class="persona-button">

                    <p><a href="building/" class="md-button">
                            Read More
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </div>


</section>


{% endblock %}
{% block content %}
{% endblock %}




{% block footer %}

<footer class="md-footer">
    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid">
            <!-- Copyright and theme information -->
            <div class="md-footer-copyright">
                <a href=" https://www.hcltechsw.com/ " title="MkDocs">{{ config.copyright }}</a>
                <br>Made with
                <a href="https://squidfunk.github.io/mkdocs-material/" target="_blank" rel="noopener">
                    Material for MkDocs
                </a>
            </div>
			<div class="md-footer-hcl md-grid1">
     <a href="https://www.hcltechsw.com/legal/disclaimer" class="nav-link footer-launch" target="_blank">Disclaimer</a>
	 <a href="https://www.hcltechsw.com/legal/privacy" class="nav-link footer-launch" target="_blank">Privacy</a>
	 <a href="https://www.hcltechsw.com/legal/terms-use" class="nav-link footer-launch" target="_blank">Terms of use</a>
	 
    
</footer>
{% endblock %}
