<!-- Elements added to main will be displayed on all pages -->
{% extends "base.html" %}
{% block outdated %}
  You're not viewing the latest version.
  <a href="{{ '../' ~ base_url }}"> 
    <strong>Click here to go to latest.</strong>
  </a>
{% endblock %}


{% block announce %}
<div>
   <a href="https://www.hcltechsw.com/"> 
  <img width="150" height="30" src="https://help.hcltechsw.com/assets/images/HCL_Software_Logo_White.svg" alt="HCL Logo" target="_blank"></a>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="dropdown">
  <button class="dropbtn">Resources <i class="fa fa-caret-down"></i></button> 
  <div class="dropdown-content">
<!--   <a href="https://support.hcltechsw.com" target="_blank">Customer Support</a>
  <a href="https://academy.hcltechsw.com" target="_blank">Software Academy</a>
  <a href="https://support.hcltechsw.com/community" target="_blank">Community Forums</a> -->
  <a href="https://github.com/HCL-TECH-SOFTWARE/rtist-in-code/tree/main/art-samples" target="_blank">Samples</a>
  <a href="https://github.com/HCL-TECH-SOFTWARE/rtist-in-code/discussions">Forum</a>
  <a href="https://github.com/HCL-TECH-SOFTWARE/rtist-in-code/issues" target="_blank">Issues</a>
  <a href="https://www.youtube.com/hashtag/rtistincode" target="_blank">Videos</a>

</div>
</div>
  
  <!-- Uncomment the following announcement if you need it -->
  <!--
 <div class="md-banner--feedback" style="display:inline">

  <strong>We value your feedback on this site.</strong> Please report any issues you find <a class="announcement__link" href="https://github.com/HCL-TECH-SOFTWARE/digital-experience/issues">via Github</a>. 
  
  <div class="md-banner--feedback">Looking for v8.5 or v9.0? <a class="announcement__link"  href="https://help.hcltechsw.com/digital-experience/9.5/welcome_hcl_dx.html">Check the legacy Help Center.</a>
</div>  
</div>
-->

</div>
{% endblock %}

{% block extrahead %}
  <meta property="og:image" content="https://opensource.hcltechsw.com/rtist-in-code/site-thumbnail.png" />
  
{% endblock %}

